@import url("normalize.css");
body {
  background-color: lightblue;

  .planner-main-title {
    text-align: center;
  }
  .planner-filter {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    &-order {
      padding-left: 50px;
    }
  }
}
