@import url("normalize.css");
body {
  background-color: lightblue;
}
body .planner-main-title {
  text-align: center;
}
body .planner-filter {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
body .planner-filter-order {
  padding-left: 50px;
}